// colors
$primary-color: #ffd700; // yellow
$secondary-color: #FF352B; // red button
$text-color: #000; // black
$text-color-white:#F2F2F2;
// fonts
$font-family: "Nunito", sans-serif;

// spacing
$padding: 20px;
$margin: 10px;

// breakpoints
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
